.all{
  display: grid;
  justify-content: center;
  width: 40%;
  min-height: 120%vh;
  border: 3px solid black;
  box-shadow: 5px 5px #c67878;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.boxs{
  border: 1px solid white;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  min-width: 100%;
  box-sizing: border-box;
}

.dates{
  font-weight: bolder;
  font-size: large;
  color: rgb(225, 74, 32);
}

.indtask{
  border: 1px solid black;
  border-radius: 6px;
  margin: 3px;
  padding: 2px;
  box-shadow: 1px 1px #c67878;
}

.indtaskr{
  border: 1px solid black;
  border-radius: 6px;
  margin: 3px;
  padding: 2px;
  box-shadow: 1px 1px #c67878;
  background-color: rgb(11, 188, 179);
}

.titlcheck{
  margin: 1px;
  color: #280eea;
  display: flex;
  justify-content: space-around;
}

.titlcheckr{
  background-color: #b86077;
  margin: 1px;
  color: #280eea;
  display: flex;
  justify-content: space-around;
}

.deledit{
  color: #ea0e49;
  display: flex;
  justify-content: space-around;
}

.falsy{
  margin-top: 10px;
  text-decoration: line-through;
}

.righty{
  margin-top: 10px;
}

.dd{
  display: flex;
  justify-content: space-between;
}

.deleteAll{
  color: red;
  font-size: 20px;
}

.updater{
  display: flex;
  justify-content: center;
}